<div class="container">

  <% @blogs.each do |blog| %>
    <% unless blog.picture == nil %>
      <div class="row">
        <div class= "col-xs-12">
          <div class="media">
            <div class="media-left">
              <%= image_tag blog.picture.image.thumb.url, class: "media-object" %>
            </div>
            <div class="media-body">
              <h1 class="media-heading"><%= blog.title %></h1>
              <p><%= blog.body %></p>
            </div>
          </div> <!-- Media -->
        </div> <!-- Columns -->
      </div> <!-- Row -->
    <% end %>
  <% end %>

</div> <!-- Container -->
