<link href="//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
<link href="//netdna.bootstrapcdn.com/bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet" />

<div id="welcome-page">
  <div class="row-fluid">
          <div class="span9">

                  <div class="venn-container">

                          <div class="venncirctop">
                            <a class="venntxttop" href="#">About Me</a>
                          </div>


                          <div class="venncirclft">
                            <a class="venntxtlft" href="#">Projects</a>
                          </div>

                          <div class="venncircrt">
                            <a class="venntxtrt" href="#">My Blog</a>
                          </div>


                          <div class="venncircbtm">
                            <a class="venntxtbtm" href="#">Contact</a>
                          </div>

  <!-- <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br> -->

                  </div> <!-- venn-container -->







          </div> <!-- span9 -->
  </div> <!-- row-fluid -->
</div> <!-- Welcome Page -->
