<div class="container">
  <div class="row">

    <div class="col-xs-12">

      <div class="about-image">
        <%= image_tag('kevin_with_alpaca.jpg') %>
      </div>

      <div class="about-text">
        <p class="about-text">
          My name is Kevin. I am the guy on the left. My buddy on the right is an Alpaca. We met at a petting zoo. I introduced myself because I thought he had nice hair.
        </p>
        <p class="about-text">
          I love creating things, and I love solving complex problems. Fortunately, I do this all day long as a Web Application Developer. There are two principles I keep in mind when working on a project.
        </p>
        <ul class="about-text">
          <li>
            <p>
              The user experience should be enjoyable. This means attractive, responsive, and user friendly front-end design.
            </p>
          </li>
          <li>
            <p>
              Firms need to be efficient. This means prudent and efficient back-end logic.
            </p>
          </li>
        </ul>
        <p class="about-text">
          If you have a good idea for a web application let me know. I am always interested in good ideas. Let’s create something great together!
        </p>
      </div>

    </div>

  </div>
</div>
