<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="about-image">
        <%= image_tag('kevin_with_alpaca.jpg', class: "about-image") %>
      </div>

      <br class="about-page-break">

      <div>
        <p class="about-text">Lorem ipsum dolor sit amet, turpis eget, omnis duis, et pede a enim. Sed dui sociosqu, tempus ligula tincidunt gravida sed, vel aenean pede ac accumsan, purus justo metus asperiores. Adipiscing sagittis aliquet nibh, sed ante convallis, fringilla odio vitae eu nec laboris id, mauris bibendum nec non sed, habitasse eget mi aenean. Aspernatur massa mauris quam, pellentesque semper a. Sit sollicitudin suspendisse eget.</p>
      </div>
    </div>
  </div>
</div>
