<div class="container">
  <div class="row">

    <div class="col-xs-12">

      <div class="about-image">
        <%= image_tag('kevin_with_alpaca.jpg') %>
      </div>

      <div class="about-text">
        <p class="about-text">
          
        </p>
      </div>

    </div>

  </div>
</div>
