
  <div class="center-content container">
    <div id="contact-form">
      <form action="https://formspree.io/kevin@storberg.net" method="POST">
            <input type="text" name="name" placeholder="Your Name" ></br>
            <input type="email" name="_replyto" placeholder="Your E-Mail"></br>
            <input type="phone" name="number" placeholder="Your Number"></br>
            <textarea id="contact-message" type="message" name="message" placeholder="Your Message"></textarea></br>
          <input id="contact-submit" type="submit" value="Send">
      </form>
    </div>
  </div>
