<div class="container">
  <div class="masonry-container posts">
     <div class="grid">

        <% @projects.reverse.each do |project| %>
            <% unless project.picture == nil %>
              <div class="grid-sizer"></div>
              <div class="grid-item">
                <div class="project-image project-post">
                  <%= link_to image_tag(project.picture.image.thumb.url), "http://#{project.title}", target: "_blank" %>
                </div>

                <div class="project-body project-post">
                  <h1 class="project-title"><%= link_to "#{project.title}", "http://#{project.title}", target: "_blank" %></h1>
                  <p><%= project.body %></p>
                </div>
              </div> <!-- Grid-Item -->
            <% end %> <!-- Unless -->
        <% end %> <!-- Projects Index -->

    </div> <!-- Grid -->
  </div> <!-- Masonry Container -->
</div> <!-- Container -->


<script>

    $(document).ready(function() {
      var $grid = $('.grid').masonry({ });

        $grid.masonry({
          // set itemSelector so .grid-sizer is not used in layout
          itemSelector: '.grid-item',
          // use element for option
          columnWidth: '.grid-sizer',
          percentPosition: true
        });


        $grid.imagesLoaded().progress( function() {
          $grid.masonry('layout');
        });

    });

</script>
