// Main =======================================================================
.blog-image {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  text-align: center;
  width: 90%;

  img {
    width: 100%;
  }
}

.blog-title {
  text-align: center;
  // margin-left: auto;
  // margin-right: auto;
  position: absolute;
  width: 90%;
}
