// Main CSS ===================================================================
.project-body {
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  p {
    padding: 15px;
  }

}

.project-image {
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 300px;

  img {
    width: 100%;
  }

}

.project-post {
  // border: 1px solid black;
  // border-bottom-left-radius: 5px;
}

.project-title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}



// Masonry CSS ================================================================
.grid {
   margin: 0 auto;
}
.grid-sizer,
.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }

.masonry-container {

}


@media (max-width: 1250px) {
   .grid-sizer,
   .grid-item { width: 33%; }
   .grid-item--width2 { width: 66%; }
}


@media (max-width: 1000px) {
   .grid-sizer,
   .grid-item { width: 50%; }
   .grid-item--width2 { width: 100%; }
}

@media (max-width: 650px) {
   .grid-sizer,
   .grid-item { width: 100%; }
   .grid-item--width2 { width: 100%; }

   .project-body, .project-image, .project-title {width: 400px;}
}

@media (max-width: 450px) {

  .project-body, .project-image, .project-title {width: 300px;}

}
