// Main CSS ===================================================================
.project-body {
  border: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  p {
    padding: 15px;
  }

}

.project-image {
  border: 1px solid black;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 300px;

  img {
    width: 100%;
  }

}

.project-title {
  text-align: center;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  width: 300px;

  a {
    color: black;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }
}

@media (max-width: 650px) {
   .project-body, .project-image, .project-title {width: 400px;}
}

@media (max-width: 450px) {
  .project-body, .project-image, .project-title {width: 300px;}
}
