#about-bubble {
  background-color: red;
  left: calc(50% - 100px);
  top: calc(50% - 180px);
}

#blog-bubble {
  background-color: red;
  left: calc(50% - 20px);
  top: calc(50% - 100px);
}

#contact-bubble {
  background-color: blue;
  left: calc(50% - 100px);
  top: calc(50% - 20px);
}

.bubble-link {
  border-radius: 100%;
  min-height: 200px;
  min-width: 200px;
  opacity: .6;
  position: absolute;
  text-align: center;
}

#projects-bubble {
  background-color: blue;
  left: calc(50% - 180px);
  top: calc(50% - 100px);
}

#welcome-page {

}
