// Main =======================================================================
#about-bubble {
  background-color: rgb(92, 91, 89);
  left: calc(50% - 125px);
  top: calc(25% - 125px);
}

#blog-bubble {
  background-color: rgb(99, 87, 123);
  left: calc(50%);
  top: calc(25%);
}

.bubble-div {
  border-radius: 100%;
  min-height: 250px;
  min-width: 250px;
  opacity: .7;
  position: absolute;
  text-align: center;

}

.bubble-div:hover {
  opacity: 1;
  z-index: 5;
}

.bubble-link {
  border-radius: 100%;
  color: white;
  display: inline-block;
  font-family: verdana;
  font-size: 20px;
  font-weight: bolder;
  height: 250px;
  text-decoration: none;
  width: 250px;

  align-items: center;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -ms-flex-align: center;
  text-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
}

#contact-bubble {
  background-color: rgb(98, 119, 70);
  left: calc(50% - 125px);
  top: calc(25% + 125px);
}

#projects-bubble {
  background-color: rgb(9, 61, 92);
  left: calc(50% - 250px);
  top: calc(25%);
}
